html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: var(--beige);
}

:root {
    --beige: #f4f0ed;
    --blue: #3d62d3;
}
p {
    font-size: 1em;
}
.text {
    color: var(--blue);
    font-size: 1.2em;
    font-family: "nats";
    line-height: 1.2em;
    margin-bottom: 1em;
}
.box {
    margin: 2em;
    display: flex;
    flex-direction: column;
    
}
.box-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* fonts */
@font-face {
    font-family: "nats";
    src:url(../fonts/NATS-Regular.ttf)
}
@font-face {
    font-family: "mons";
    src:url(../fonts/Montserrat-Light.ttf)
}
