html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #f8f8ee;
}

:root {
    --orange: #ea7f27;
    --beige: #f8f8ee;
    --pine-green: #3a5534;
}

/* fonts */
@font-face {
    font-family: "title-deco";
    src:url(/fonts/Lacquer-Regular.ttf)
}
@font-face {
    font-family: "title-date";
    src:url(/fonts/White\ wood.otf)
}

@font-face {
    font-family: "montserrat-light";
    src:url(/fonts/Montserrat-Light.ttf)
}

@font-face {
    font-family: "montserrat-bold";
    src:url(/fonts/Montserrat-SemiBold.ttf)
}


/* home */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 80%;
    height: 25em;
    background-image: url(/img/Torreta1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
}
.title {
    font-family: "title-deco";
    color: var(--pine-green);
    font-size: 6em;
}
.date {
    display: flex;
    align-items: center;
    margin: 2em;
}
.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: var(--pine-green);
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}
.title_two {
    font-family: "title-date";
    color: var(--pine-green);
    font-size: 2.5em;
}
.line {
    height: 0.2em;
    width: 80%;
    background-color: var(--pine-green);
}
.presentacion {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    font-family: "Montserrat-bold";
    margin: 1em;
    justify-content: center;
}
.text {
    margin-left: 1em;
    color: #3a5534;
    margin-top: 0.5em;
}
.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.section-1 {
    width: 9em;
    height: 11em;
    background-color: var(--orange);
    border-radius: 70% 30% 50% 40% / 60% 60% 40% 40%;
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.section-2 {
    width: 9em;
    height: 9em;
    background-color: var(--orange);
    border-radius: 50% 30% 50% 30% / 60% 60% 40% 40%;
    background-image: url(../img/tend.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}
.section-3 {
    width: 9em;
    height: 11em;
    background-color: var(--orange);
    border-radius: 50% 40% 60% 30% / 60% 60% 40% 40%;
    background-image: url(../img/mochila.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
}
.text-section {
    font-family: "montserrat-bold";
    font-size: 1.5em;
    padding-top: 1em;
    color: var(--pine-green);
}


.button {
    padding: 20px 44px;
    background-color: transparent;
    border: 1px solid var(--pine-green);
    border-radius: 50px;
    font-family: "Montserrat-light";
    color: var(--pine-green);
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 0 0;
    transition: all 200ms;
    margin: 3em;
}
.button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 1px var(--pine-green)
  }
  
  .button:active {
    transform: translateY(10px);
    box-shadow: 0 0 0;
  }

