html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: var(--beige);
}

:root {
    --orange: #ea7f27;
    --beige: #F8F1EE;
    --pine-green: #3A6756;
}

/* fonts */
@font-face {
    font-family: "nats";
    src:url(/fonts/NATS-Regular.ttf)
}
@font-face {
    font-family: "title-date";
    src:url(/fonts/White\ wood.otf)
}


/* home */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url(../img/Logo.png);
    width: 20em;
    height: 20em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5em 0 1em 0;
}
.title {
    font-family: "nats";
    color: var(--pine-green);
    font-size: 4em;
    line-height: 1em;
}
.date {
    display: flex;
    align-items: center;
}
.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: var(--pine-green);
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}
.title_two {
    font-family: "nats";
    color: var(--pine-green);
    font-size: 3em;
    line-height: 1.5em;
}
.line {
    height: 0.2em;
    width: 80%;
    background-color: var(--pine-green);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    justify-content: center;
    gap: 3em;
}
.text-menu {
    color: var(--pine-green);
    font-size: 1.8em;
    font-family: "nats";
}
.text {
    color: var(--pine-green);
    font-size: 1.5em;
    font-family: "nats";
}
.text-none {
    color: var(--pine-green);
    font-size: 1.8em;
    font-family: "nats";
}
.button {
    padding: 20px 44px;
    background-color: transparent;
    border: 1px solid var(--pine-green);
    border-radius: 50px;
    font-family: "nats";
    color: var(--pine-green);
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 0 0;
    transition: all 200ms;
    margin: 3em 0 0 0;
}
.button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 1px var(--pine-green)
}
.button:active {
    transform: translateY(10px);
    box-shadow: 0 0 0;
}
.alert {
    width: 55%;
    display: flex;
    justify-content: center;
    margin: 3em;
}
.text-alert {
    font-family: "nats";
    font-size: 1em;
    color: var(--pine-green);
    text-align: center;
    line-height: 1em;
}
.text-alert-mobile {
    display: none;
}

@media (max-width: 425px) {
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .title {
        font-size: 3em;
    }
    .title_two {
        font-size: 1.5em;
    }
    .dot {
        height: 0.2em;
        width: 0.2em;
    }
    .menu {
        display: flex;
        gap: 1em;
        margin-bottom: 2em
    }
    .text-menu {
        font-size: 1.2em;
    }
    .text-none {
        display: none;
    }
    .text {
        font-size: 1.5em;
        margin-bottom: -1em;
    }
    .alert {
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 3em;
    }
    .text-alert {
        display: none;
    }
    .text-alert-mobile {
        display: block;
        font-family: "nats";
        font-size: 1em;
        color: var(--pine-green);
        text-align: center;
        line-height: 1em;
    }
    .button:focus {
        transform: translateY(-10px);
        box-shadow: 0px 12px 1px var(--pine-green);
    }
}